#wrapper {
    width: 100%;
    border-width: 1px;
    border: 1px solid black;
}

#header {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    display:inline-block;

}

#logo {
    display:inline-block;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    height: 80%;
    width: 15%;
}

#title {
    display: inline-block;
    width: 300px;
}

#content {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    text-align:center;
}

#menu {
    width: 100%;
    border-bottom:1px solid black;
    display: inline-block;
}

.menu {
    overflow:hidden; 
    background-color:rgb(179, 172, 173);
}

.menu a {
    display: inline-block;
    color:#f2f2f2;
    text-align:center;
    text-decoration:none;
    padding: 14px 16px 20px 16px;
    font-size: 17px;
}

.menu a:hover {
    background-color: pink;
}

#login {
    float:right;
}

#signup {
    float:right;
}

#contentPost {
    /* margin:0 auto; */
    display: inline;

}

#contentPost > h1 {
    text-align:center;
}

#contentPost ul {
    text-align:center;
}

#contentPost li {
    list-style-type:none; 
}


/**************/
MEDIA QUERIES
/*************/




