#wrapper {
    width: 100%;
    border-width: 1px;
}

#content {
    width: 100%;
    height: 700px;
    text-align:center;
    background-color:#f2f2f2;
}

#dates {
    padding-top:75px;
    padding-bottom:15px;
}

#total {
    padding-top:25px;
}

#timeStamps {
    /* background-color: pink; */
    margin: 0 auto;
    width:50%;
    height:150px
}

#novDatesBox {
    width:50%;
    height:150px;
}


#money {
    width:50%;
    height:150px;
    float:right;
    /* background-color: lightgreen; */
}

#novDates {
    float:left;
    height:150px;
    /* background-color: lightblue; */
    list-style-type: none;
}

#novDates > li {
    margin-bottom: 14px;
}

#myList {
    float: left;
}

#innerContent {
    border-radius: 25px;
    margin-top: 125px;
    height: 400px;
    display: inline-block;
    border: 1px solid  gray;
    background-color: white;
    width:80%;

}

#earning {
    /* background-color: pink; */
    width: 80%;
    /* height: 400px; */
    margin: 0 auto;
    /* border: 1px solid  gray; */

}

a {
    margin-top: 10px;
    width:200px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: white;
    border: 1px solid gray;
    color: black;
    margin-right: 25px;
}

.next {
    background-color: white;
    border: 1px solid gray;
    color: black;
}

